blueprint:
  name: metautomation
  domain: automation
  input:
    sensor_entity:
      selector:
        entity:
          domain: sensor
    target_entity:
      selector:
        entity:
          domain: light
    fluxor_entity:
      selector:
        entity:
          domain: automation
    var_entity:
      selector:
        entity:
          integration: var
    modes:
      selector:
        object:


variables:
  target_entity: !input target_entity
  var_entity: !input var_entity
  modes: !input modes

trigger:
  - platform: state
    entity_id: !input sensor_entity
    to: arrow_right_click
  - platform: state
    entity_id: !input sensor_entity
    to: arrow_left_click


action:
  - choose:
    - alias: "scene right"
      conditions: "{{ trigger.to_state.state == 'arrow_right_click' }}"
      sequence:
        - service: var.set
          data:
            entity_id: !input var_entity
            value_template: >-
              {%- set mode=(states(var_entity)|int) -%}
              {%- set modes_length=modes|length -%}
              {%- if mode >= modes_length %}
              modes_length
              {%- else -%}
              {{ (states(var_entity)|int)+1}}
              {%- endif -%}
    #
    - alias: "scene left"
      conditions: "{{ trigger.to_state.state == 'arrow_left_click' }}"
      sequence:
        - service: var.set
          data:
            entity_id: !input var_entity
            value_template: >-
              {%- set mode=(states(var_entity)|int) -%}
              {%- if mode < 1 -%}
              0
              {%- else -%}
              {{ (states(var_entity)|int)-1}}
              {%- endif -%}
  #
  - service: lifx.effect_pulse
    data:
      mode: breathe
      cycles: "{{ (states(var_entity)|int) + 1 }}"
      hs_color: [ 120, 100]
      period: 0.4
      power_on: false
    target:
      entity_id: "{{ target_entity }}"
  #
  - choose:
      - conditions: |
                {%- set mode=(states(var_entity)|int) -%}
                {{- modes[mode]['turn_off'] | length > 0 -}}
        sequence:
          - repeat:
              count:  >-
                {%- set mode=(states(var_entity)|int) -%}
                {{- modes[mode]['turn_off'] | length -}}
              sequence:
                - service: automation.turn_off
                  data_template:
                    entity_id: >-
                      {%- set mode=(states(var_entity)|int) -%}
                      automation.{{- modes[mode]['turn_off'][repeat.index-1] -}}
    default: []
  #
  - alias: wait for all the automations to turn off
    choose:
      - conditions: |
                {%- set mode=(states(var_entity)|int) -%}
                {{- modes[mode]['turn_off'] | length > 0 -}}
        sequence:
          - repeat:
              count:  >-
                {%- set mode=(states(var_entity)|int) -%}
                {{- modes[mode]['turn_off'] | length -}}
              sequence:
                - variables:
                    automation_entity_id: >-
                      {%- set mode=(states(var_entity)|int) -%}
                      automation.{{- modes[mode]['turn_off'][repeat.index-1] -}}
                - alias: "wait for each automation to turn off"
                  repeat:
                    sequence:
                      - delay:
                          milliseconds: 100
                    until:
                      - condition: template
                        value_template: "{{ states(automation_entity_id) == 'off'  }}"
    default: []
  #
  - choose:
      - conditions: |
                {%- set mode=(states(var_entity)|int) -%}
                {{- modes[mode]['turn_on'] | length > 0 -}}
        sequence:
          - repeat:
              count:  >-
                {%- set mode=(states(var_entity)|int) -%}
                {{- modes[mode]['turn_on'] | length -}}
              sequence:
                - service: automation.turn_on
                  data_template:
                    entity_id: >-
                      {%- set mode=(states(var_entity)|int) -%}
                      automation.{{- modes[mode]['turn_on'][repeat.index-1] -}}
                - service: automation.trigger
                  data_template:
                    entity_id: >-
                      {%- set mode=(states(var_entity)|int) -%}
                      {%- set keys=modes[mode]|list -%}
                      automation.{{- modes[mode]['turn_on'][repeat.index-1] -}}
    default: []
