blueprint:
  name: metautomation
  domain: automation
  input:
    target_entity:
      selector:
        entity:
          domain: light
    mode_entity:
      selector:
        entity:
          integration: input_number
    modes:
      selector:
        object:
    controller_name:
      selector:
        text:

variables:
  target_entity: !input target_entity
  mode_entity: !input mode_entity
  modes: !input modes

trigger:
  - platform: state
    entity_id: !input mode_entity
  - platform: event
    event_type: CONTROLLER_EVENT
    event_data:
      name: !input controller_name
      action: arrow_left_click
  - platform: event
    event_type: CONTROLLER_EVENT
    event_data:
      name: !input controller_name
      action: arrow_right_click

action:
  - choose:
    - alias: "scene right"
      conditions:
        - condition: template
          value_template: "{{ trigger.platform == 'event' }}"
        - condition: template
          value_template: "{{ trigger.event.data.action == 'arrow_right_click' }}"
        - condition:  template
          value_template: "{{ states(target_entity) == 'on' }}"
      sequence:
        - service: input_number.increment
          data:
            entity_id: !input mode_entity

    - alias: "scene left"
      conditions:
        - condition: template
          value_template: "{{ trigger.platform == 'event' }}"
        - condition: template
          value_template: "{{ trigger.event.data.action == 'arrow_left_click' }}"
        - condition:  template
          value_template: "{{ states(target_entity) == 'on' }}"
      sequence:
        - service: input_number.decrement
          data:
            entity_id: !input mode_entity
  #
  - service: lifx.effect_pulse
    data:
      mode: breathe
      cycles: "{{ (states(mode_entity)|int) + 1 }}"
      hs_color: [ 120, 100]
      period: 0.4
      power_on: false
    target:
      entity_id: "{{ target_entity }}"
  #
  - choose:
      - conditions: |
                {%- set mode=(states(mode_entity)|int) -%}
                {{- modes[mode]['turn_off'] | length > 0 -}}
        sequence:
          - repeat:
              count:  >-
                {%- set mode=(states(mode_entity)|int) -%}
                {{- modes[mode]['turn_off'] | length -}}
              sequence:
                - service: automation.turn_off
                  data_template:
                    entity_id: >-
                      {%- set mode=(states(mode_entity)|int) -%}
                      automation.{{- modes[mode]['turn_off'][repeat.index-1] -}}
    default: []
  #
  - alias: wait for all the automations to turn off
    choose:
      - conditions: |
                {%- set mode=(states(mode_entity)|int) -%}
                {{- modes[mode]['turn_off'] | length > 0 -}}
        sequence:
          - repeat:
              count:  >-
                {%- set mode=(states(mode_entity)|int) -%}
                {{- modes[mode]['turn_off'] | length -}}
              sequence:
                - variables:
                    automation_entity_id: >-
                      {%- set mode=(states(mode_entity)|int) -%}
                      automation.{{- modes[mode]['turn_off'][repeat.index-1] -}}
                - alias: "wait for each automation to turn off"
                  repeat:
                    sequence:
                      - delay:
                          milliseconds: 100
                    until:
                      - condition: template
                        value_template: "{{ states(automation_entity_id) == 'off'  }}"
    default: []
  #
  - choose:
      - conditions: |
                {%- set mode=(states(mode_entity)|int) -%}
                {{- modes[mode]['turn_on'] | length > 0 -}}
        sequence:
          - repeat:
              count:  >-
                {%- set mode=(states(mode_entity)|int) -%}
                {{- modes[mode]['turn_on'] | length -}}
              sequence:
                - service: automation.turn_on
                  data_template:
                    entity_id: >-
                      {%- set mode=(states(mode_entity)|int) -%}
                      automation.{{- modes[mode]['turn_on'][repeat.index-1] -}}
                - service: automation.trigger
                  data_template:
                    entity_id: >-
                      {%- set mode=(states(mode_entity)|int) -%}
                      {%- set keys=modes[mode]|list -%}
                      automation.{{- modes[mode]['turn_on'][repeat.index-1] -}}
    default: []
