version: 2.1

orbs:
  gcp-gke: circleci/gcp-gke@1.0.1
  helm: circleci/helm@1.1.2
  gcp-gcr: circleci/gcp-gcr@0.13.0

executors:
  executor:
    docker:
      - image: google/cloud-sdk

filters: &default-workflow-filter
  branches:
    only:
      - /^testing.*/
      - main

workflows:
  version: 2
  build-deploy:
    jobs:
      - gcp-gcr/build-and-push-image:
          context: gcloud
          name: build-and-push-image
          dockerfile: Dockerfile.home-assistant
          image: home-assistant
          tag: "2021.4.6-<< pipeline.number >>"
          registry-url: gcr.io
          filters: *default-workflow-filter

      - helm-deploy:
          name: helm-deploy-mosquitto
          cluster-name: k8s-prod
          namespace: iot
          release-name: mosquitto
          chart: mosquitto
          repo: https://k8s-at-home.com/charts/
          values: mosquitto-values.yaml
          #
          context: gcloud
          filters: *default-workflow-filter

      - helm-deploy:
          name: helm-deploy-ingress
          cluster-name: k8s-prod
          namespace: iot
          release-name: ingress
          chart: ./charts/ingress
          #
          context: gcloud
          filters: *default-workflow-filter

      - helm-deploy:
          name: helm-deploy-home-assistant
          requires: 
            - build-and-push-image
          cluster-name: k8s-prod
          namespace: iot
          release-name: home-assistant
          chart: ./charts/home-assistant
          values-to-override: "\
                               configuration.homeassistant.latitude=$SPIRE_LATITUDE,\
                               configuration.homeassistant.longitude=$SPIRE_LONGITUDE,\
                               home-assistant.common.podAnnotations.rollme=cci-build-$CIRCLE_BUILD_NUM,\
                               home-assistant.image.repository=gcr.io/simagick-230618/home-assistant,\
                               home-assistant.image.tag=2021.4.6-<< pipeline.number >>,\
                               "
          #
          context: gcloud
          filters: *default-workflow-filter

commands:
  helm-deploy:
    parameters:
      namespace:
        description: namespace in which to deploy
        type: string
      release-name:
        description: the name of the helm release to deploy to
        type: string
      chart:
        description: the path of the chart to be deployed
        type: string
      repo:
        description: the URL of the repo
        type: string
        default: ""
      helm-version:
        description: helm version
        type: string
        default: "v3.4.2"
      values:
        description: values file path
        type: string
        default: ""
      values-to-override:
        description: list of values to override in the helm chart
        type: string
        default: ""

    steps:
      - unless:
          condition:
            equal: [ "", << parameters.repo >> ]
          steps:
            - helm/install-helm-client:
                version: << parameters.helm-version >>
            - run:
                command: |
                  helm repo add repo << parameters.repo >>
            - helm/upgrade-helm-chart:
                namespace: << parameters.namespace >>
                release-name: << parameters.release-name >>
                chart: repo/<< parameters.chart >>
                helm-version: << parameters.helm-version >>
                values: << parameters.values >>
                values-to-override: << parameters.values-to-override >>
      - when:
          condition:
              equal: [ "", << parameters.repo >> ]
          steps:
            - helm/upgrade-helm-chart:
                namespace: << parameters.namespace >>
                release-name: << parameters.release-name >>
                chart: << parameters.chart >>
                helm-version: << parameters.helm-version >>
                values: << parameters.values >>
                values-to-override: << parameters.values-to-override >>

jobs:
  helm-deploy:
    executor: executor
    working_directory: ~/repo
    parameters:
      cluster-name:
        description: cluster name
        type: string
      namespace:
        description: namespace in which to deploy
        type: string
      release-name:
        description: the name of the helm release to deploy to
        type: string
      chart:
        description: the path of the chart to be deployed
        type: string
      repo:
        description: the URL of the repo
        type: string
        default: ""
      values:
        description: values file path
        type: string
        default: ""
      values-to-override:
        description: list of values to override in the helm chart
        type: string
        default: ""

    steps:
      - checkout
      - when:
          condition:
              equal: [ "", << parameters.repo >> ]
          steps:
            - run:
                name: set build versions
                command: |
                  sed s/CIRCLE_BUILD_NUM/${CIRCLE_BUILD_NUM}/ -i << parameters.chart >>/Chart.yaml
      - gcp-gke/update-kubeconfig-with-credentials:
          cluster: << parameters.cluster-name >>
          install-kubectl: true
          perform-login: true

      - helm-deploy:
          namespace: << parameters.namespace >>
          release-name: << parameters.release-name >>
          chart: << parameters.chart >>
          repo: << parameters.repo >>
          values: << parameters.values >>
          values-to-override: << parameters.values-to-override >>


